@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import "./media.scss";

// Variables
$main-color: #e2812e;
$light-color: #f4f4f4;
$dark-color: #333333;
$medium-color: #ccc;
$blue-color: #dde9fc;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background: $main-color;
  color: set-text-color($main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// SearchBar.js
.searchbar {
  background-color: $light-color;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar {
    cursor: pointer;
    display: flex;
    width: 70%;

    .link {
      margin: 0 2rem;
      color: $dark-color;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.1rem;

      &:hover {
        color: $medium-color;
      }
    }
  }

  form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    label {
      font-size: 1.2rem;
      font-weight: 600;
      width: 50%;
    }

    input {
      flex-grow: 2;
      width: 70%;
      border-radius: 25px;
      border: 2px solid $main-color;
      padding: 10px 1rem;
      z-index: 4;

      &:focus {
        outline: none;
      }
    }

    button {
      cursor: pointer;
      position: absolute;
      right: 5px;
      border: 1px solid $main-color;
      padding: 5px;
      // background: $main-color;
      border-radius: 50%;
      // color: $light-color;
      font-size: 1rem;
      z-index: 6;

      &:focus {
        outline: none;
      }

      &:active {
        transform: scale(1.05);
      }
    }
  }
}

// App.js
.player {
  background: rgba($color: $light-color, $alpha: 0.8);
  display: flex;
  justify-content: center;
  min-width: 90vw;
  min-height: 85vh;
  margin: 1.5rem 1rem 1rem 1rem;
  border-radius: 5px;
}

// VideoDetail.js
// Data not loaded yet
.video-loading {
  position: absolute;
  content: "";
  top: 25%;
}

// VideoDetail.js
.video-detail {
  margin-top: 3rem;
  margin-left: 3rem;

  .video-embed {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0%;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  .video-header {
    h4 {
      font-size: 1.6rem;
    }
  }
}

// VideoList.js
.video-list {
  display: block;
  margin: auto;
  padding: 1rem;

  .video-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3rem;

    .video-content {
      margin-top: 4px;
    }

    .video-title {
      width: 300px;
    }
  }
}

// Dual Ring Loader
.ld-dual-ring {
  display: block;
  margin: 150px auto;
}

.ld-dual-ring:after {
  content: " ";
  display: block;
  width: 85px;
  height: 85px;
  margin: 10px;
  border-radius: 50%;
  border: 6px solid $main-color;
  border-color: $main-color transparent;
  animation: ld-dual-ring 1.2s linear infinite;
}

@keyframes ld-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// MusicPlayer.js
.music-player {
  background: rgba($color: $light-color, $alpha: 0.8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 90vw;
  min-height: 85vh;
  margin: 1.5rem 1rem 1rem 1rem;
  border-radius: 5px;
}

.music-container {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba($color: $blue-color, $alpha: 0.6);
  display: flex;
  padding: 1.3rem 1.9rem;
  margin: 2rem auto;
  z-index: 10;
  width: 85%;
}

.img-container {
  position: relative;
  width: 70px;
}

.img-container::after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 55%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
  width: inherit;
  position: absolute;
  bottom: -5px;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.action-btn {
  cursor: pointer;
  background-color: #fff;
  border: 0;
  color: $blue-color;
  font-size: 1.9rem;
  padding: 0.7rem;
  margin: 0 1.3rem;
  z-index: 10;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 30px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
}

.progress-container {
  cursor: pointer;
  background: $blue-color;
  border-radius: 5px;
  margin: 1.7rem 0 0.7rem 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
